# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    application_url: http://cequens_saas.com/app_dev.php
    assets_url: http://cequens_saas.com/web/bundles/cequens

    chatkit_instance_locator: v1:us1:bb957f41-bf24-4f23-a015-1f51ceafb1b2
    chatkit_key: 4761b4a1-d6ab-4d1b-84a7-77ee60a8fd65:CT1s0rd3kg5UZ7uikF8KMN4baerPur9+/CfeF2WLt6E=

    bot_service_url: 'http://localhost/botman_saas/public'

    cequens_fb_app_id: 206737516884619
    cequens_fb_app_secret: 0a0008729da02beff5fa1f17c41add77
