{% extends '@Cequens/Admin/layout.html.twig' %}

{% block content %}
<div class="row">
{#	<div class="col-lg-12">
		<div class="card card-transparent">
			<div class="card-header ">
				<div class="card-title">Portlet Tools
				</div>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-lg-4">
						<div data-pages="card" class="card card-default" id="card-basic">
							<div class="card-header  ">
								<div class="card-title">Use Case 1
								</div>
							</div>
							<div class="card-block">
								<h3>
									<span class="semi-bold">Verify</span> Tools</h3>
								<p>Basic Portlet tools include a slide toggle button <i class="card-icon card-icon-collapse"></i>, refresh button <i class="card-icon card-icon-refresh"></i> and a close button <i class="card-icon card-icon-close"></i> All these are fully customizable and come with callback functions to integrate with your code. Clicking on the refresh button will simulate an AJAX call.
								</p>
								<div class="inline">
									<p class="small hint-text">
										<br> <a href="progress.html">More about progress &amp; activity indicators</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card card-default">
							<div class="card-header ">
								<div class="card-title">Portlet One
								</div>
							</div>
							<div class="card-block">
								<h3>
									<span class="semi-bold">Workflow</span> Scroll</h3>
								<p>When it comes to digital design, the lines between functionality, aesthetics, and psychology are inseparably blurred. Without the constraints of the physical world, there’s no natural form to fall back on, and every bit of constraint and affordance</p>
								<div class="inline">
									<p class="small hint-text">
										<br> <a href="progress.html">More about progress &amp; activity indicators</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card card-default">
							<div class="card-header ">
								<div class="card-title">Portlet One
								</div>
							</div>
							<div class="card-block">
								<h3>
									<span class="semi-bold">Bot</span> Scroll</h3>
								<p>When it comes to digital design, the lines between functionality, aesthetics, and psychology are inseparably blurred. Without the constraints of the physical world, there’s no natural form to fall back on, and every bit of constraint and affordance</p>
								<div class="inline">
									<p class="small hint-text">
										<br> <a href="progress.html">More about progress &amp; activity indicators</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>#}
</div>
{% endblock %}